* {
  /* Primary Colors */
  --color-green: #495e57;
  --color-yellow: #f4ce14;

  /* Secondary Colors */
  --color-orange: #ee9972;
  --color-pink: #fbdabb;
  --color-white: #edefee;
  --color-black: #333333;

  /* Fonts-weights */
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --extra-bold: 800;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

a {
  font-family: 'Karla';
  font-size: 1.1rem;
  font-weight: var(--medium);
  text-decoration: none;
}

h1 {
  font-family: 'Markazi';
  font-size: 2.8rem;
  font-weight: var(--medium);
  color: var(--color-yellow);
}

h2 {
  font-family: 'Karla';
  font-size: 2.5rem;
  font-weight: var(--medium);
  color: var(--color-black);
}

p {
  font-family: 'Karla';
  font-size: 1rem;
  font-weight: var(--regular);
  line-height: 1.5;
  color: var(--color-black);
}

button {
  font-family: 'Karla';
  font-weight: var(--medium);
  font-size: 1.2rem;
  border: 1px solid var(--color-yellow);
  border-radius: 16px;
  background-color: var(--color-yellow);
  color: var(--color-green);
  width: 12.5rem;
  height: 3.75rem;
  padding: 0.6rem 1.25rem;
  outline: none;
  transition: 0.5s;
}

button:hover {
  cursor: pointer;
  background-color: #ffd817;
  border: 1px solid #ffd817;
}

.bi-star-fill {
  fill: var(--color-yellow);
}

@media screen and (max-width: 48rem) {
  html,
  body {
    font-size: 14px;
  }
}
